<div *ngIf="user[0] != null" class="d-flex justify-content-end mt-2">
    <a class="link-dark" (click)="logout()">{{user[0]}} | Log Out</a>
  </div>
<div *ngIf="user[0] == null" class="container mt-5">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">Sign in</span>                 
                    <form #loginForm="ngForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <input type="text" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
                        </div>
                        <div class="mb-3">
                          <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                        </div>
                        <button [disabled]="loginForm.invalid" class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>